#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #00656d;
    background: #00656d;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 95;
}
#return-to-top i {
    color: #512a44;
    margin: 0;
    position: relative;
    left: 0;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #512a44;
}
#return-to-top:hover i {
    color: #00656d;
    top: 5px;
}
